* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: 300px 5fr;
}

.side-bar {
	grid-row: 1 / 3;
	background-color: rgb(63, 160, 234);
	display: grid;
	grid-template-rows: 0.5fr 1fr 1fr 3fr;
}

.logo,
.first-link,
.second-link {
	padding: 20px;
	color: white;
	font-size: 22px;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 32px;
	gap: 15px;
}

.logo img {
	height: 32px;
	width: auto;
}

.first-link div,
.second-link div {
	display: flex;
	gap: 20px;
	padding: 5px;
}

.header {
	grid-column: 2 / 3;
	background-color: white;
}

.content {
	background-color: rgb(227, 227, 227);
}
