* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: "Nanum Gothic", sans-serif;
}

.container {
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 9fr;
	grid-template-columns: 250px 5fr;
}

.side-bar {
	grid-row: 1 / 3;
	background-color: #2b2b2c;
	display: grid;
	grid-template-rows: 0.5fr 1fr 1fr 3fr;
}

.logo,
.first-link,
.second-link {
	padding: 20px;
	color: white;
	font-size: 22px;
}

.logo {
	display: flex;
	align-items: center;
	font-size: 32px;
	gap: 15px;
	color: rgb(219, 212, 212);
}

.logo img {
	height: 32px;
	width: auto;
}

.first-link div,
.second-link div {
	display: flex;
	gap: 20px;
	padding: 5px;
}

.first-link div p,
.second-link div p {
	position: relative;
	padding-bottom: 4px;
	color: rgb(219, 212, 212);
}

.first-link div p:after,
.second-link div p:after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: rgb(219, 212, 212);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.first-link div p:hover:after,
.second-link div p:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.header {
	grid-column: 2 / 3;
	background-color: #3f3f40;
	position: relative;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	display: flex;
	flex-direction: column;
	color: rgb(219, 212, 212);
}

.top-header {
	padding: 10px 50px 10px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-left {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: left;
	gap: 30px;
}

.top-left input {
	background-color: rgb(102, 102, 103);
	height: 32px;
	width: 800px;
	border-radius: 32px;
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
	color: rgb(219, 212, 212);
	padding: 5px 12px;
}

.top-right {
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: right;
	gap: 30px;
}

.profile-pic {
	border-radius: 50%;
	height: 45px;
	width: 45px;
	border: 4px solid #5d34a5;
}

.bottom-header {
	padding: 10px 50px 10px 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.bottom-left {
	display: flex;
	align-items: center;
	gap: 25px;
	font-size: min(1.5vw, 36px);
}

.bottom-left img {
	border-radius: 50%;
	height: 64px;
	width: 64px;
	border: 4px solid #5d34a5;
}

.bottom-right {
	display: flex;
	align-items: center;
	gap: 32px;
}

.bottom-right button {
	background-color: rgb(102, 102, 103);
	border-radius: 32px;
	padding: 10px 32px;
	color: rgb(219, 212, 212);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	cursor: pointer;
}

.bottom-right button:active {
	transform: scale(0.98);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.content {
	background-color: #181818;
	display: grid;
	padding: 2vh 1vw;
	grid-template-columns: 2.75fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 15px;
	color: rgb(219, 212, 212);
}

.projects {
	grid-row: 1/3;
}

.projects p {
	font-size: min(1.2vw, 28px);
	font-weight: 700;
	padding-bottom: 10px;
	height: 5%;
}

.content-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
	gap: 15px;
	height: 95%;
}

.card {
	padding: 1vh 1vw;
	border-radius: 8px;
	background: linear-gradient(to left, #3f3f40 98%, #5d34a5 2%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card h4 {
	font-size: min(1.5vw, 24px);
	font-weight: 700;
	margin-bottom: 6px;
}

.card p {
	font-size: min(1vw, 20px);
	color: rgb(159, 159, 159);
}

.bottom-card {
	display: flex;
	justify-content: right;
	gap: 1vw;
}

.announcements-card,
.trending-card {
	border-radius: 8px;
	background: linear-gradient(to left, #3f3f40 97%, #5d34a5 3%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 1vw;
	height: 90%;
}

.announce-header,
.trending-header {
	font-size: min(1.2vw, 28px);
	font-weight: 700;
	height: 10%;
}

.announcements-card div {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.announcements-card div p:first-child {
	font-size: min(1.2vw, 22px);
}

.announcements-card div p:nth-child(2) {
	font-size: min(0.7vw, 17px);
	color: rgb(159, 159, 159);
}

.bottom-border {
	border-bottom: 1px solid #181818;
}

.trending-card {
	border-radius: 8px;
	background: linear-gradient(to left, #3f3f40 97%, #5d34a5 3%);
}

.trending-card {
	justify-content: space-evenly;
}

.trending-person {
	display: flex;
	gap: 1vw;
}

.trending-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: min(1vw, 22px);
}

.subtext {
	color: rgb(159, 159, 159);
}

.profile-pic-change {
	border-radius: 50%;
	height: max(45px, 3vh);
	width: max(45px, 3vw);
	border: 4px solid #5d34a5;
}
